---
import React from 'react';
import MainLayout from "../layouts/MainLayout.astro";
import IntroCard from '../UI/IntroCards';

const data = [
  {
    id: "blogs",
    title:"Blogs",
    slug : "blogs",
  },
  {
    id: "open-source",
    title:"Open Source",
    slug : "blogs",
  },
  {
    id: "podcast",
    title:"Podcast",
    slug : "podcast",
  }
]
---
<html>
  <head>
    <title>Engineering Tech Blog</title>
  </head>
  <MainLayout>
  <body>

      <section>
      {data.map((item, index) => (
          <IntroCard title={item.title} slug={item.slug}  tags={[]} />
      ))}
      </section>


  </body>

  </MainLayout>
</html>
