---
import PodcastList from '../../components/Podcasts.astro';
import MainLayout from "../../layouts/MainLayout.astro";
---
<MainLayout>
<section id="podcasts">
    <h2>Podcasts</h2>
    <PodcastList />
</section>
</MainLayout>