---
import Blogs from "../../components/Blogs.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---
<MainLayout>
<header>
    <h1>Welcome to the Engineering Tech Blog</h1>
</header>
<section id="blogs">
    <h2>Blogs</h2>
    <Blogs />
</section>
</MainLayout>