---
// BlogLayout.astro

import MainLayout from "./MainLayout.astro";
const { title, date } = Astro.props;
console.log(title, date);
---
<MainLayout>
    <div id="container" style={{ maxWidth: "70%", margin: "auto", display: "flex", justifyContent: "center", alignItems: "center" }}>
<article>
    <header>
        <h1>Hello {title}</h1>
        <p>{date}</p>
    </header>
    <main>
        <slot />
    </main>
</article>
    </div>
</MainLayout>
